/* @import url(https://fonts.googleapis.com/css?family=Roboto:300); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root{
    /* Cores */
    --preto: black;
    --branco: white;
    --fundo-azul-escuro: #00071f;
    --fundo-conteudos: #ffffffeb;
    --fundo-input:  #f2f2f2;
    --fundo-divisoes: #003296;
    --fundo-palavras-destaque: #FFB800;
    --laranja-escuro: #dea20a;
    --laranja-claro: #EBAB1C;
}

body {
    background-color: #00071f;
}